:root{
    --primary-color:#222734; 
    --secondary-color:#1D253A; 

    /* --primary-color:#000; 
    --secondary-color:#090c14; */

    --primary-text-color:#f0f0f0;
    --secondary-text-color:hsl(223, 21%, 80%);;
    

}

/* universal or reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
   background-color:#fff ;
   color:var(--primary-color);
}



html {
    scroll-behavior: smooth;
  }
/* main css */

body{
    font-size: 1.5em;
    line-height: 1.5;
   font-family: 'Poppins', sans-serif;
   color: var( --primary-text-color);
   background-color: var(--primary-color);
}
/* links css */
a{
    text-decoration: none;
    color: var(--primary-text-color);
}    
ul{
    list-style-type: none;
}

/* mobile-first approach css */
#navbar {
    background-color:var(--secondary-color);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); 
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
  z-index: 3;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: auto;
    max-width: 680px;
    align-items: center;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #000;
    
}
#navbar a{
    padding: 0.8em 1em;
}
#navbar a:hover{
    background-color: var(--primary-color);
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 88vh;
    /* margin-top: 70px; */
    /* background-color: #000; */
    /* background-image: url(https://media.giphy.com/media/l0MYK5Nq6eg7PsYaQ/giphy.gif); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:750px 500px;  */
    /* opacity: 0.8; */
    padding: 0 15px;
}
#welcome-section h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
#welcome-section p{
    color: var(--secondary-text-color);
    font-style: italic;
    font-weight: 200s;
}
.container{
   max-width: 680px;
   margin: auto;
   padding:12px 14px 0px 14px;
}

.heading-container{
    border-bottom: 2px solid var(--secondary-color);
    margin: 4rem auto 40px auto;
    text-align: center;
    padding-bottom: 0.5rem;
}


.projects-heading p{
    font-size: 1rem;
    color: var(--secondary-text-color);
}
.projects-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project{
    width: 47%;
    background-color: var(--secondary-color);
    border-radius: 8px;
    margin-bottom: 36px;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); 
}
.project:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.project a{
    cursor:default;
}
.project-image{
    border-radius: 2px;
    width: 100%;
    padding-bottom:55%;
    height: 0;
    overflow:hidden;
}
.project-image img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.technologies{
    margin: 0.4rem;
}
.technology{
    padding: 0 0.3rem;
}
.project-text{
    padding: 12px 18px;
}

.project-main-text{
    display: flex;
    justify-content: space-between;
     margin-top:6px;
     margin-bottom: 18px;
    font-size: 18px;
}
.project-text h3{
    cursor: pointer;
}
.project-text p{
    font-size: 14px;
    font-weight: normal;
    color:var(--secondary-text-color);
    margin-bottom: 12px;
    width: 100%;
    line-height: 1.6;
}
/* .project:hover{
    position: relative;
    top:-6px;
} */
.icon{
    margin-top: 5px;
}
.github-icon{
    padding-right: 8px;
    cursor: pointer;
}

.container-section{
    width: 100%;
    margin: 60px auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.heading-section{
    border-bottom: 2px solid var(--secondary-color);
    margin: 4rem auto 10px auto;
    text-align: center;
    padding-left: 1rem;
    padding-right:1rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
}
.heading-section p{
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.skills-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
     padding-left: 20px;
     padding-right: 20px;
}
.skills{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.skill-icon:hover{
    position: relative;
    top:-3px;
}
.skill{
    padding:0 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.contact-section{
    padding-bottom:20px;
    text-align: center;  
}
.main-heading{
   font-size: 1.7rem;
}

.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1rem;
}
.links{
    margin: 0.5rem 1.5rem;
}
.links:hover{
    position: relative;
    top:-4px;
    color: var(--primary-text-color);
}


footer{
    border-top: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 10px 15px 10px;
   margin-top: 4rem;
    font-size: 0.7rem;
}
footer h4{
    font-size: 0.8rem;
    font-weight: 600;
}

@media screen and (max-width:475px){

    #welcome-section h1{
        font-size: 2rem;
    }

    #welcome-section p{
        font-size: 1.2rem;
    }

    .projects-container{
        display: block;
    }
    .project{
        width: 100%;
        display: block;
    }
}

@media screen and (max-width:730px){
    .project:hover{
        transform: scale(0.9);
        transition-property: transform;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    }
}
