/* universal or reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
   background-color:yellow ;
}
/* links css */
a{
    text-decoration: none;
    color: var(--main-text-white);
}    
ul{
    list-style-type: none;
}
/* main css */
:root{
    --main-text-white:#f0f0f0;
    --main-red:#be3144;
    --main-blue:#45567d;
    --main-gray:#303841;
}
body{
    font-size: 1.5em;
    line-height: 1.5;
   font-family: 'Poppins', sans-serif;
   color: var( --main-text-white);
   background-color: var(--main-gray);
}

/* mobile-first approach css */
#navbar {
    background-color:#363D4E;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 70px; */
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin: auto;
    max-width: 680px;
    align-items: center;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: bold;
}
#navbar a{
    padding: 0.8em 1em;
}
#navbar a:hover{
    background-color: var(--main-blue);
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    width: 100%;
    background-color: var(--main-gray);
    /* background-image: url(https://images.pexels.com/photos/92905/pexels-photo-92905.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #060626; */
    /* margin: 0 3px; */
}
#welcome-section h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
#welcome-section p{
    color: hsl(223, 15%, 80%);
    font-style: italic;
    font-weight: 200s;
}
.container{
   max-width: 680px;
   margin: auto;
   padding:12px 14px 42px 14px;
}

.heading-container{
    border-bottom: 2px solid  hsl(223, 18%, 28%);
    margin: 4rem auto 40px auto;
    text-align: center;
    padding-bottom: 0.5rem;
}


.projects-heading p{
    font-size: 1rem;
    color: hsl(223, 15%, 80%);
}
.projects-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project{
    width: 47%;
    /* background-color: #060626; */
    background-color: #363D4E;
    border-radius: 8px;
    margin-bottom: 36px;
    overflow: hidden;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); 
}

.project:hover{
    position: relative;
    top:-6px;
}

.project-image{
    border-radius: 2px;
    width: 100%;
    padding-bottom:55%;
    height: 0;
    overflow:hidden;
}
.project-image img{
    width: 100%;
    object-fit: cover;
}


.project-text{
    padding: 12px 18px;
}

.project-main-text{
    display: flex;
    justify-content: space-between;
     margin-top:6px;
     margin-bottom: 18px;
    font-size: 18px;
}

.project-text p{
    font-size: 14px;
    font-weight: normal;
    color: hsl(223, 15%, 80%);
    margin-bottom: 12px;
    width: 100%;
    line-height: 1.6;
    word-break: break-all;
}
.icon{
    margin-top: 5px;
}
.technologies{
    margin: 0.4rem;
}
.technology{
    padding: 0 0.3rem;
}
.github{
    padding-right: 8px;
    cursor: pointer;
}


footer{
    border-top: 3px solid hsl(223, 18%, 28%);
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px 10px 15px 10px;
   margin-top: 1rem;
    font-size: 0.8rem;
}
footer h4{
    font-size: 1rem;
    font-weight: 600;
}

.contact-container{
    width: 100%;
    max-width: 680px;
    margin: 60px auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.contact-section{
    padding-bottom:20px;
    text-align: center;  
}

.contact:hover{
    position:relative;
    top: -4px;
}

.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1rem;
}
.links{
    margin: 0.5rem 1.5rem;
    text-shadow:2px 2px 1px #1f1f1f;
}
.links:hover{
    position: relative;
    top:-4px;
}
#heart{
    color#fff;
}
